<nav class="navbar">
    <a href="/" class="navbar-logo">Mi Tienda</a>
    <div class="navbar-links">
        <a href="/">Inicio</a>
        <a href="/realtimeproducts">Productos en Tiempo Real</a>
        <a href="/cart">Carrito</a>
    </div>
</nav>